/*18.6 display: inline-block;
display: inline-block;を指定すると、
その要素は以下のような性質を持つようになります。

要素が横に並んでいく
width・heightプロパティで幅と高さを指定できる
padding・marginプロパティで上下左右に余白を指定できる 


*/

#first-div {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
  }
  #second-div {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    background-color: lightgreen;
  }
  #third-div {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 30px;
   margin: 30px;

    background-color: lightgray;
  }
  #fourth-div {
    width: 100px;
    height: 100px;
    padding: 40px;
    margin: 40px;
    background-color: yellow;
  }