/* 1. content（コンテンツ）
content（コンテンツ）とは文字や画像など
要素の中身が表示される領域のことです。コンテンツの大きさは、16章で学んだwidthプロパティとheightプロパティの値で決まります。

2. border（ボーダー）
border（ボーダー）とは、コンテンツの周辺にある境界線のことです。
初期設定ではボーダーの太さが0に設定されているため、そのままだと表示されません。
しかし、14章でも学んだようにborderプロパティなどを使えばボーダーを表示できます。

3. padding（パディング）
padding（パディング）とは、ボーダーの内側の余白のことです。
パディングの大きさはpaddingプロパティで指定できます。
padding＝日本語で「詰め物」という意味。
content（コンテンツ）とborder（ボーダー）の
間に入っている「詰め物」と考えると覚えやすい

4. margin（マージン）
margin（マージン）は、ボーダーの外側の余白のことです。
マージンの大きさはmarginプロパティで指定できます。
margin＝日本語で「余白」という意味

4 padding（パディング）とmargin（マージン）の違い

・padding（パディング）：ボーダーの内側にある余白
・margin（マージン）：ボーダーの外側にある余白
*/

/* p { 
    border: solid 5px yellow;
    padding: 10px;
    margin: 10px;
}*/

/* #second-paragraph {       
    /* padding: 100px; */
    /* margin: 100px; */
    /* padding: 20px 15px 10px 5px; */
    /* margin: 15px 10px 5px 0px; */
    /* padding: 20px 10px; */
    /* margin: 40px 20px; 
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: solid 5px yellow; 
  }

/* 17.5 padding（パディング）とmargin（マージン）の指定方法
それではpadding（パディング）とmargin（マージン）の指定方法を学びましょう。
なお、パディングとマージンの指定方法は一緒なので同時に学びます。
パディングとマージンの指定方法は、大きく分けると以下の4通りです。

上下左右の余白を同じ値でまとめて指定する
余白の値を上・右・下・左の順で一度に指定する
余白の値を上下と左右に分けて指定する
上下左右の余白の一部だけを指定する 

余白の値を上・右・下・左の順で一度に指定する

先ほどの指定方法は上下左右の余白が同じ値のときに有効でした。
しかし、「上の余白は20px、右の余白は15px、下の余白は10px……」など、上下左右の余白を別の値にしたい場合も出てきます。
そういった場合は以下のサンプルコードのように
上・右・下・左の順で一度に指定する方法が有効です。

CSSファイル（見本）

p {      
  padding: 20px 15px 10px 5px;
  margin: 15px 10px 5px 0px;
}
Copy

このように4つの値を半角スペースで区切って書くことで、
上・右・下・左の順で一度に余白を指定できます。
「上から時計回りで書く」と覚えておきましょう。

余白の値を上下と左右に分けて指定する
「上下の余白は20px」「左右の余白は10px」というように、余白の値を上下と左右の2つに分けて指定することもできます。

その場合は以下のサンプルコードのように、上下・左右の順で半角スペースで区切って書きます。

CSSファイル（見本）

p {      
  padding: 20px 10px;
  margin: 40px 20px;
}

上下左右の余白の一部だけを指定する

「上の余白だけ指定したい」というように、上下左右の余白の一部だけを指定するときは以下のプロパティを使います。

上の余白だけ指定する：padding-top・margin-topプロパティ
下の余白だけ指定する：padding-bottom・margin-bottomプロパティ
左の余白だけ指定する：padding-left・margin-leftプロパティ
右の余白だけ指定する：padding-right・margin-rightプロパティ
14章でborder-topプロパティやborder-bottomプロパティなどを学びましたが、それと同じイメージです。

17.6 margin（マージン）の相殺

複数の要素にmargin（マージン）を指定するときに注意が必要なのが、「margin（マージン）の相殺」という現象です。
例えば上に位置する要素1のmargin-bottomプロパティに30pxが指定されていて、下に位置する要素2のmargin-topプロパティに10pxが指定されていたとします。
その場合、値が大きい30pxのほうが優先され、値が小さい10pxのほうは相殺されて打ち消されてしまいます。

*/

#first-paragraph {      
    margin-bottom: 30px;
    border: solid 5px yellow; 
  }
#second-paragraph {
    
   margin-top: 10px;
  border: solid 5px yellow; 
}




