/* .7 margin（マージン）を利用して要素を中央揃えにする

marginの値にautoを指定して
中央揃えにできるのは横方向のみであり
縦方向にはできません。
*/

div {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    background-color: red;
}